a {
    color: white;
}

li{display:inLine;}

.flex{
    display:flex;
    justify-content: space-evenly;
}

.example-card {
    max-height: 50px;
  }

.example-header-image {
    background-image: url(AlliraterLogo.jpg);
    background-size: 3;
  }