body {
	margin:10px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color: #EFE5DC;
}

button {
    background-color: #171738;
    border-color: #171738;
}

#box1, #box2{
	width:200px;
	height:200px;
	margin:10px;
	padding:10px;
}

#box1 {
	background:	#6184D8;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 50em;
  min-height: 25em;
  position: relative;
}

#box2 {
	background:	#dd6e42;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 50em;
  min-height: 25em;
  position: relative;
}

#star-container {
    position: absolute;
    top: 50% ;
    left: 50% ;
    transform: translate(-50% , -50%);
    width: 100;
    height: 100;
}

h2, p  {
	padding:5px;
}

#box1 p {
	white-space:pre;
	font-size:smaller;
	font-family:monospace;
}

#box2 p {
	white-space:pre;
	font-size:smaller;
	font-family:monospace;
}

/* FROM STAR TUTORIAL */
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}

.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}

.rate > input:checked ~ label {
    color: #ffc700;    
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* RATE 2 */
.rate2 {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate2:not(:checked) > input {
    position:absolute;
    top:-9999px;
}

.rate2:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}

.rate2:not(:checked) > label:before {
    content: '★ ';
}

.rate2 > input:checked ~ label {
    color: #ffc700;    
}

.rate2:not(:checked) > label:hover,
.rate2:not(:checked) > label:hover ~ label {
    color: #deb217;  
}

.rate2 > input:checked + label:hover,
.rate2 > input:checked + label:hover ~ label,
.rate2 > input:checked ~ label:hover,
.rate2 > input:checked ~ label:hover ~ label,
.rate2 > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
