<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
      <form class="example-form"
        *ngIf="!isLoggedIn"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <mat-card-content>
          <!--Username field-->
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" 
              type="text"
              class="form-control"
              name="username"
              [(ngModel)]="form.username"
              required
              #username="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
            />
            <div *ngIf="username.errors && f.submitted" class="invalid-feedback">
              Username is required!
            </div>
            <!--<mat-error *ngIf="user.invalid">{{getErrorMessage()}}</mat-error>-->
          </mat-form-field>

          <!--Password field-->
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password"
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="form.password"
              required
              minlength="6"
              #password="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
            />
            <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
              <div *ngIf="password.errors['required']">Password is required</div>
              <div *ngIf="password.errors['minlength']">
                Password must be at least 6 characters
              </div>
            </div>
            <!--<mat-error *ngIf="user.invalid">{{getErrorMessage()}}</mat-error>-->
          </mat-form-field>
        </mat-card-content>

        <!--Login button-->
        <button mat-stroked-button color="accent" class="btn-block">Log in</button>
        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger" role="alert">
          Login failed: {{ errorMessage }}
        </div>
      </form>
      <div class="alert alert-success" *ngIf="isLoggedIn">
        Logged in as {{ roles }}.
      </div>
    </mat-card>
  </div>